#projects {
  border-top: solid 6px #ffc58d;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100%;
}

.title-project {
  font-family: var(--primary-font);
  text-align: center;
  margin-bottom: 7vh;
}

.carousel .slider-wrapper {
  width: 67%;
  position: relative;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.slide {
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
}

.text-tag {
  border: 4px solid #ffc58d;
  transition: opacity 0.5s ease;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.74);
}

.slide:hover .text-tag {
  opacity: 1;
}

.logo-hover {
  max-width: 6%;
}

.text-hover {
  font-family: var(--second-font);
  margin-bottom: 2%;
}

.link-hover {
  margin-top: 3%;
  margin-right: auto;
  margin-left: 40%;
  margin-bottom: 2%;
  border: solid 2px;
  background-color: #ffc58d;
  width: 20%;
  height: 48px;
}

.a-hover {
  text-decoration: none;
  color: white;
  font-family: var(--second-font);
}

.a-hover:hover {
  text-shadow: 3px 2px black;
}

.FaEarth {
  border-radius: 100%;
  box-shadow: 2px 1px white;
}
.carousel {
  margin-bottom: 10vh;
}
.carousel * {
  border-radius: 20px;
}

.carousel.carousel-slider .control-arrow {
  margin-left: 10rem;
  margin-right: 10rem;
}

.carousel .control-arrow .carousel.carousel-slider .control-arrow {
  transition: all 0.25s ease-in;
  opacity: 1;
  position: absolute;
  z-index: 2;
  top: 20px;
  background: #ffc58d;
  border: 0;
  font-size: 32px;
  cursor: pointer;
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0px 5px;
  display: inline-block;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  content: "";
}

.carousel .control-next.control-arrow:before {
  border-left: 0px solid black;
  position: relative;
}

.carousel .control-prev.control-arrow:before {
  border-right: 0px solid black;
  position: relative;
}

.carousel .control-next.control-arrow:hover {
  background: none;
  position: absolute;
}

.carousel .control-prev.control-arrow:hover {
  background: none;
  position: absolute;
}
