#skills {
  border-top: solid 6px #ffc58d;
}
.title-skills {
  margin-bottom: 5vh;
  font-family: var(--primary-font);
  text-align: center;
}
.card-style {
  background: #fff;
  border-radius: 10px;
  box-shadow: rgb(241, 190, 143) 0px 5px 15px;
  padding: 20px;
  text-align: center;
  font-family: var(--second-font);
  width: 150px;
}
.container-position {
  margin: 3% 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 40px;
  background-color: #f8e4d3;
  width: 50vw;
}
.logo-style {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.soft-skills {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  background-color: #f8e4d3;
  margin: 3% 2%;
}
.title-soft {
  font-family: var(--primary-font);
  font-weight: 600;
  margin: 3vh 6vh;
}
.cv {
  width: 40vw;
}
.cv:hover {
  width: 41vw;
  transition: 0.8s ease-in-out;
}
.download-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 10vh;
  border-radius: 6px;
  margin: 4vh;
  background-color: #ffc58d;
  border: solid 2px #d6d3d0;
}
.download-txt {
  text-decoration: none;
  font-size: 1rem;
  color: var(--primary-color);
  font-family: var(--primary-font);
}
