#about {
  border-top: solid 6px #ffc58d;
  padding-bottom: 2.9rem;
  min-height: 88vh;
}
.title-about {
  margin-bottom: 5vh;
  font-family: var(--primary-font);
  text-align: center;
}
.first-pg {
  margin-top: 3vh;
}
#about p {
  font-family: var(--primary-font);
  padding-left: 10vh;
  margin-bottom: 4vh;
}
.highlight {
  padding: 0;
  font-size: 1.3rem;
  background: linear-gradient(
    to right,
    hsl(242, 85%, 52%) 0,
    hsl(0, 0%, 100%) 10%,
    hsl(242, 85%, 30%) 20%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite linear;
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}
.text-carousel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4vh;
  align-items: start;
}

.text-section {
  display: flex;
  flex-direction: column;
}

.carousel-container-about {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  border-radius: 10px;
}

.image-container-about {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
}

.image-container-about img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

/* MOBILE */
@media screen and (max-width: 600px) {
  #about {
    min-height: 100vh;
  }
  .title-about {
    margin-top: 1vh;
    margin-bottom: 2.5vh;
  }
  .text-carousel {
    grid-template-columns: 1fr;
  }
  .first-pg {
    margin-top: 0vh;
  }
  #about p {
    padding-left: 2vh;
    margin-bottom: 2vh;
  }

  .text-carousel {
    grid-template-columns: 1fr;
  }

  .carousel-container-about {
    height: 50vh;
    margin-top: 2vh;
  }

  .image-container-about {
    width: 100%;
    height: 50vh;
  }

  .image-container-about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}
