@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.background {
  background: #faece0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}
.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../assets/logoBack.jpg");
  background-position: right;
  background-size: contain;
  opacity: 0.9;
}
.name {
  margin-top: 18vh;
  height: 60vh;
  width: 40vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: rgba(248, 228, 211, 1);
  z-index: 1;
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s,
    transform var(--e-transform-transition-duration, 0.4s);
}
.animate__flipInX {
  margin-top: 13vh;
  font-family: "Pacifico";
  font-size: 4rem;
  color: #563a3f;
}
.my-job {
  margin-bottom: auto;
  margin-top: 5vh;
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  color: #563a3f;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation:
    typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 455px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}
/* MOBILE */
@media screen and (max-width: 600px) {
  .background {
    max-height: 100vh;
  }
  .name {
    height: 30vh;
    width: 70vw;
    opacity: 0.9;
  }
  .animate__flipInX {
    margin-top: 6vh;
    font-size: 2rem;
  }
  .my-job {
    margin-top: 5vh;
    font-size: 1.5rem;
  }
}
