#contact {
  border-top: solid 6px #ffc58d;
  animation: fade-in 3s;
  min-height: 100vh;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.titles-contact {
  text-align: center;
  font-family: var(--primary-font);
}
.text-contact {
  margin-top: 2%;
  font-weight: 600;
}
.input-firstname {
  padding-left: 1%;
  margin-top: 2%;
  height: 35px;
  width: 508px;
  border-radius: 10px;
  opacity: 0.8;
  font-size: 1.2rem;
}
.other-input {
  padding-left: 1%;
  height: 35px;
  margin-top: 2%;
  border-radius: 10px;
  opacity: 0.8;
  font-size: 1.2rem;
}
.input-message {
  padding-left: 1%;
  padding-top: 1%;
  height: 200px;
  margin-top: 2%;
  border-radius: 10px;
  opacity: 0.8;
  font-size: 1.2rem;
}
.border-contact {
  width: 42vw;
  border-radius: 10%;
  box-shadow: rgb(241, 190, 143) 0px 5px 15px;
  border: solid 1px #ffc58d;
  position: relative;
  margin: 1% 30% 3% 30%;
  padding-top: 1%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.border-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../assets//logoBack.jpg) no-repeat center center;
  background-size: cover;
  opacity: 0.6;
}
.form-email {
  display: flex;
  flex-direction: column;
  position: relative;
}
label {
  font-family: var(--primary-font);
  font-weight: 50;
}
.button-send {
  width: 25%;
  height: 50px;
  margin-top: 2%;
  border-radius: 6px;
  font-family: var(--primary-font);
  margin-left: 37%;
  margin-top: 3%;
  background-color: #ffc58d;
  border-color: #f0eae4;
  font-size: 1rem;
}
