#competences {
  border-top: solid 6px #ffc58d;
}
.card-style {
  background: #fff;
  border-radius: 10px;
  box-shadow: rgb(241, 190, 143) 0px 5px 15px;
  padding: 20px;
  text-align: center;
  font-family: var(--second-font);
  width: 150px;
}
.container-position {
  margin: 3% 20% 2% 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 40px;
}
.logo-style {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
