.introduction {
  margin: 1% 3% 3% 3%;
  font-family: var(--second-font);
  font-size: 1.3rem;
}
.title {
  margin-top: 2%;
  font-family: var(--primary-font);
  text-align: center;
}
#propos {
  border-top: solid 6px #ffc58d;
  padding-bottom: 2.9rem;
}