@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Pacifico&family=Poiret+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-font: "Raleway";
  --second-font: "Dosis", sans-serif;
  --third-font: "Merriweather";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background: rgb(250, 248, 244);

  /* background: rgb(253, 247, 235); */
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
